@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|VT323|Sunflower:300|Sigmar+One');

.btn-signup {
  width: 150px;
  height: 40px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  font-family: 'VT323', monospace;
  font-size: 56px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.home-page {
  margin-top: 30%;
  width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.home-saying {
  margin: 10px;
}
