// .select {
//   display: inline-block;
//   margin-bottom: 10px;
//   width: 100%;
// }

// .left {
//   width: 230px;
// }

// .info {
//   font-size: 30px;
//   text-align: center;
//   margin-bottom: 10px;
//   text-decoration: underline;
// }

// .location {
//   height: 30px;
//   font-size: 24px;
// }

// .box-item {
//   font-size: 24px;
// }

// .input-forms {
//   float: left;
//   margin-left: 30px;
//   padding: 10px;
//   outline: 1px solid;
//   width: 230px;
//   display: inline-block;
// }

// .submit_btn {
//   width: 100px;
//   height: 30px;
// }

// .howTo {
//   margin-left: 30px;
//   display: inline-block;
//   width: 400px;
//   margin-right: 30px;
//   line-height: 24px;
//   text-align: center;
//   font-size: 20px;
// }

// .sign-up {
//   margin-top: 40px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }

// p {
//   margin-top: 10px;
//   font-size: 16px;
// }

.crome-link {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 20%;
  font-size: 40px;
}

.crome-link:hover {
  font-size: 45px;
  color: orange;
}
