.sign-container {
  margin: 0 auto !important;
  width: 50vw !important;
  padding: 5% !important;
  display: flex !important;
  flex-direction: column !important;
}

.sign-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-button {
  margin-top: 5%;
}

.alt-buttons-container {
  margin-top: 5%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.alt-button {
  margin-left: 5px;
  margin-right: 5px;
}

.logo-image {
  width: 100% !important;
  height: 100% !important;
}

.logo-container {
  width: 20em !important;
  height: 19.5em !important;
  text-align: center;
  margin: 4em auto;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-image: url('https://img.etsystatic.com/il/81159c/1245910745/il_570xN.1245910745_mwpz.jpg');
}
  


@media screen and (max-width: 1000px) {
  .sign-container {
    width: 100% !important;
  }
}
